{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'admin/css/aboutus.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="app">

        <div class="menu-toggle">
            <div class="hamburger">
                <span></span>
            </div>
        </div>

        <aside class="sidebar">

            <div class="holder">
                <label for="" class="toggle-btn">
                    <span></span>
            </div>

            <nav class="menu">
                <a href="{% url 'main' %}" class="menu-item ">Track</a>
                <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
                <a href="{% url 'about' %}" class="menu-item is-active">Our Team</a>
                <a href="{% url 'reviews' %}" class="menu-item">Reviews</a>
            </nav>
        </aside>
    </div>

    <main class="content">
        <div class="hero-bg">
            <header>
                <a href="/">FindMyPackage</a>
            </header>

            <div class="container">
                <div class="header">
                    <h1>Meet Our Team</h1>
                </div>
                <div class="sub-container">
                    <div class="team">
                        <div class="avatar">
                            <img src="{% static 'admin/img/AboutMe-Lukas.jpg' %}">
                        </div>
                        <div class="name">Lukas Wehlitz</div>
                        <div class="role">Team Lead</div>
                        <div class="about">Senior at Vel Phillips Memorial High School in Madison, Wisconsin. I enjoy a variety of activities, including tennis, trumpet, piano, volunteering, and learning about anything tech related!</div>

                        <div class="socials">
                            <a href="https://www.linkedin.com/mwlite/in/lukas-wehlitz-33a1a0227"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/TheLawrus"><i class="fa fa-github"></i></a>
                        </div>
                    </div>

                    <div class="team">
                        <img src="{% static 'admin/img/AboutMe-Taimur.jpeg' %}">
                        <div class="name">Taimur Bajwa</div>
                        <div class="role">Product Manager & UI/UX Designer</div>
                        <div class="about">Junior at Harmony School of Innovation in Sugar Land, Texas. In my free time, I enjoy lifting, playing sports, and learning new things.</div>

                        <div class="socials">
                            <a href="https://www.instagram.com/slicetaimur"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/taimurbajwa"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/TaimurBajwa"><i class="fa fa-github"></i></a>
                        </div>
                    </div>

                    <div class="team">
                        <img src="{% static 'admin/img/AboutMe-Cassidy.jpg' %}">
                        <div class="name">Cassidy Blackwood</div>
                        <div class="role">Frontend Developer & UI/UX Designer</div>
                        <div class="about">Sophomore at Summit Prep in Redwood City, California. Outside of school and coding hours, I run cross country, listen to music, and play video games with friends.</div>

                        <div class="socials">
                            <a href="https://www.instagram.com/somehowcass"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/cassidy-blackwood-67ab56255"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/c-blackwood"><i class="fa fa-github"></i></a>
                        </div>
                    </div>

                    <div class="team">
                        <img src="{% static 'admin/img/AboutMe-Stefan.png' %}">
                        <div class="name">Stefan Murphy</div>
                        <div class="role">Frontend Developer & Backend Engineer</div>
                        <div class="about">Junior at Saratoga High School in Saratoga, California. I enjoy lifting, playing games, and hanging out with friends.</div>

                        <div class="socials">
                            <a href="https://www.instagram.com/stefanmerfy"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/StefanMerfy"><i class="fa fa-github"></i></a>
                        </div>
                    </div>

                    <div class="team">
                        <img src="{% static 'admin/img/AboutMe-Jefferson.jpeg' %}">
                        <div class="name">Jefferson Hong</div>
                        <div class="role">Backend Engineer</div>
                        <div class="about">Sophomore in California. In my free time, I enjoy playing games, eating food, and programming.</div>

                        <div class="socials">
                            <a href="https://github.com/jeff5343"><i class="fa fa-github"></i></a>
                        </div>
                    </div>

                    <div class="team">
                        <img src="{% static 'admin/img/avatar.png' %}">
                        <div class="name">Kaizar Rangwala</div>
                        <div class="role">Backend Engineer</div>
                        <div class="about">Sophomore at Hopkinton Highschool in Hopkinton, Massachusetts. I enjoy creating art, self improvement, and lifting in my free time.</div>

                        <div class="socials">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
</body>

</html>