{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'admin/css/aboutus.css' %}" />
</head>

<body>
    <div class="app">

        <div class="menu-toggle">
            <div class="hamburger">
                <span></span>
            </div>
        </div>

        <aside class="sidebar">

            <div class="holder">
                <label for="" class="toggle-btn">
                    <span></span>
            </div>

            <h3></h3>
            <nav class="menu">
                <a href="{% url 'main' %}" class="menu-item ">Track</a>
                <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
                <a href="{% url 'about' %}" class="menu-item is-active">Developers</a>
                <a href="{% url 'reviews' %}" class="menu-item">Reviews</a>

            </nav>
        </aside>
    </div>

        <main class="content">
            <div class="hero-bg">
                <section class="top">
                    <header>
                        <a href="/">FindMyPackage</a>
                    </header>
    <hr>
    <p>
        <ul>
            <li>
                <u>Team Members:</u>
                <ul>
                    <li>Lukas - Team Lead</li>
                    <li>Taimur - Product Manager</li>
                    <li>Cassidy - Frontend</li>
                    <li>Stefan - Frontend/Backend</li>
                    <li>Kaizar - Backend</li>
                    <li>Jefferson - Backend</li>
                </ul>
            </li>
            <li><u>Our Mission:</u> track packages</li>
        </ul>

                </section>
            </div>
    
            <section class="About">
                <div class="right-col">
                    <h2>About</h2>
                    <p>We are the Find My Package Team!</p>
                </div>
            </section>
            </div>
        </main>
    </body>
    </html>
    </p>
</body>
</html>