{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FindMyPackage</title>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
</head>

<body>
    <h1>Tracking Number: {{ trackingNumber }}</h1>
    <hr>
    <p>
        {% if errorMessage %}
        {{ errorMessage }} <br>
        {% else %}
        <b>ETA:</b> {{ ETA }} <i> {{ currentStatus.delayDetail.status }} </i> <br>
        <br>
        <b>Current Status:</b> {{ currentStatus.description }} @ {{ currentStatus.scanLocation.city }} {{ currentStatus.scanLocation.stateOrProvinceCode }}, {{ currentStatus.scanLocation.countryName }}, <b> {{ currentStatus.statusByLocale }} </b> <br>
        <table>
            <tr>
                <th>Date</th>
                <th>Summary</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
            {% for event in events %}
            <tr>
                <td>{{ event.date }}</td>
                <td>{{ event.eventDescription }}</td>
                <td>
                {{ event.scanLocation.city }} {{ event.scanLocation.stateOrProvinceCode }}, {{ event.scanLocation.countryName }}
                </td>
                <td>{{ event.derivedStatus }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        {% endif %}
        <br>
        <a href="{% url 'main' %}">back</a>
    </p>
</body>
</html>