{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FindMyPackage</title>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
</head>

<body>
    <h1>
        <a href="{% url 'main' %}" style="color:#ffffff">FindMyPackage</a> 
        <small> 
            | <a href="{% url 'aboutus' %}">about us</a> | 
            <b><a href="{% url 'faq' %}">facts and questions</a></b>
        </small>
    </h1>
    <hr>
    <p>
        <ul>
            <li><u>Hello:</u> hi there!</li>
            <li><u>What carriers do u guys support</u> As of right now, USPS, UPS, and something something something </li>
        </ul>
        <br>
        <br>
        <a href="{% url 'main' %}">back</a>
    </p>
</body>
</html>