{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
    <script src="{% static 'admin/js/disable_submit_button.js' %}" defer></script>
</head>

<body>

    <div class="app">

        <div class="menu-toggle">
            <div class="hamburger">
            </div>
        </div>

        <aside class="sidebar">

            <div class="holder">
                <label for="" class="toggle-btn">
                    <span></span>
            </div>

            <nav class="menu">
                <a href="#About" class="menu-item">About</a>
                <a href="{% url 'main' %}" class="menu-item is-active">Track</a>
                <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
                <a href="{% url 'about' %}" class="menu-item">Our Team</a>
                <a href="{% url 'reviews' %}" class="menu-item">Reviews</a>
            </nav>
        </aside>
    </div>


    <main class="content">
        <div class="hero-bg">
            <section class="top">
                <header>
                    <a href="/">FindMyPackage</a>
                </header>

                <h1><span> The Best Way to</span> Track Your Package</h1>

                <div class="track-container">
                    <form action="{% url 'track' %}" method="post" id="track_form">
                        {% csrf_token %}
                        <div class="form-left">
                            <label for="tracking_id_input">Enter your package ID:</label>
                            <input class="form-left-input" type="text" name="tracking_id" id="tracking_id_input">
                        </div>
                        <input class="submit" type="submit" value="submit" id="submit_button">
                        
                    </form>
                    {% if error %}
                        <p style="
                            color: white;
                            margin: 10px 10%;
                            background-color: #FF541E;
                            border-radius: 8px;
                        ">
                            oh no! Tracking number not found
                        </p>
                    {% endif %}
                </div>
            </section>
        </div>

        <section class="About" id ="About">
            <div class="right-col">
                <h2>About</h2>
                <p>We are the Find My Package Team!</p>
            </div>
            <img src="{% static 'admin/img/peoplewpackages.jpg' %}" alt="picture of people with packages">
        </section>
    </main>
</body>
</html>