{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
</head>

<body>

    <div class="app">

        <div class="menu-toggle">
            <div class="hamburger">
                <span></span>
            </div>
        </div>

        <aside class="sidebar">

            <div class="holder">
                <label for="" class="toggle-btn">
                    <span></span>
            </div>

            <h3></h3>
            <nav class="menu">
                <a href="{% url 'about' %}" class="menu-item is-active">About</a>
                <a href="{% url 'track' %}" class="menu-item">Track</a>
                <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
                <a href="{% url 'reviews' %}" class="menu-item">Reviews</a>
            </nav>
        </aside>
    </div>


    <main class="content">
        <div class="hero-bg">
            <section class="top">
                <header>
                    <a href="">FindMyPackage</a>
                </header>

                <h1><span> The Best Way to</span> Track Your Package</h1>

                <div class="track-container">
                    <form action="{% url 'track' %}" method="post">
                        {% csrf_token %}
                        <div class="form-left">
                            <label for="Enter package ID">Enter your package ID:</label>
                            <input type="text" name="package" id="Enter package ID">
                        </div>
                        <input type="submit" value="TRACK">
                    </form>
                </div>
            </section>
        </div>

        <section class="About">
            <div class="right-col">
                <h2>About</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, iusto odio ea adipisci numquam
                    dignissimos doloremque vitae minima velit non et voluptates odit tenetur ducimus?</p>
            </div>
            <img src="{% static 'admin/img/peoplewpackages.jpg' %}" alt="picture of people with packages">
        </section>
        </div>
    </main>
</body>
</html>