{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Reviews - FMP</title>
  <link rel="stylesheet" href="{% static 'admin/css/reviews.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'admin/img/packageiocn2.png' %}">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7190812934066985"
     crossorigin="anonymous"></script>
</head>

<body>


  <div class="app">

            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                </div>
            </div>
    
            <aside class="sidebar">

              <div class="holder">
                <label for="" class="toggle-btn">
                  <span></span>
              </div>
        
                    <nav class="menu">
                        <a href="{% url 'main' %}" class="menu-item">Track</a>
                        <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
                        <a href="{% url 'about' %}" class="menu-item">Our Team</a>
                        <a href="{% url 'reviews' %}" class="menu-item is-active">Reviews</a>
                    </nav>
                    <div class="toggle">
                      <button class="check-toggle" type="button" id="check" onclick="changeStatus()" name="toggle-dark-mode">
                      <svg>
                        <path fill="currentColor" d="M7.5,2C5.71,3.15 4.5,5.18 4.5,7.5C4.5,9.82 5.71,11.85 7.53,13C4.46,13 2,10.54 2,7.5A5.5,5.5 0 0,1 7.5,2M19.07,3.5L20.5,4.93L4.93,20.5L3.5,19.07L19.07,3.5M12.89,5.93L11.41,5L9.97,6L10.39,4.3L9,3.24L10.75,3.12L11.33,1.47L12,3.1L13.73,3.13L12.38,4.26L12.89,5.93M9.59,9.54L8.43,8.81L7.31,9.59L7.65,8.27L6.56,7.44L7.92,7.35L8.37,6.06L8.88,7.33L10.24,7.36L9.19,8.23L9.59,9.54M19,13.5A5.5,5.5 0 0,1 13.5,19C12.28,19 11.15,18.6 10.24,17.93L17.93,10.24C18.6,11.15 19,12.28 19,13.5M14.6,20.08L17.37,18.93L17.13,22.28L14.6,20.08M18.93,17.38L20.08,14.61L22.28,17.15L18.93,17.38M20.08,12.42L18.94,9.64L22.28,9.88L20.08,12.42M9.63,18.93L12.4,20.08L9.87,22.27L9.63,18.93Z" />
                    </svg>
                <p>Swap Themes</p> 
                      </button>
                    </div>
                </aside>
        </div>
    <div class="hero-bg">
        <header>
            <a href="/" class="FindMyPackage">FindMyPackage</a>
        </header>
    <div class="read">
      <p>Read a review</p>
    </div>


    <div class="review-container">

      <!-- Slideshow container -->
      <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        {% for review in reviews %}
        <div class="mySlides fade">
          <div class="numbertext">{{ forloop.counter }} / 10</div>
          <div class="review">
            <p class="review_name"><strong>{{ review.author }}</strong></p>
            <div class="review_stars">
              <div class="review_stars1" style="--l:{{ review.stars }}">
              </div>
            </div>

            <p class="review_body">{{ review.content }}</p>

           <!--- Written on {{ review.date }}-->

          </div>

          <div class="average">
            <div class="review_stars2" style="--l:2"></div>
            <div class="r3"><p>{{ stars_average|floatformat:1 }}</p></div>
            <div class="r4"><p>(out of {{ total_reviews_count }} reviews)</p></div>
          </div>

        </div>
        {% endfor %}
      
   

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#xF12F; <button class="arrow" id="arrow--left">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
          </button>
          <a class="next" onclick="plusSlides(1)">&#xf104;<button class="arrow" id="arrow--right">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </button></a>
        </a>
      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        {% for review in reviews %}
        <span class="dot" onclick="currentSlide( {{ forloop.counter }} )"></span>
        {% endfor %}
      </div>



      <script>

function average_rating(array){
  let average = 0;
  for (let i = 0; i < array.length; i++){
  let currentNum = array[i]
}
average = average / array.length
return average;
}
average_rating([ 2, 4 ])



        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) { slideIndex = 1 }
          if (n < 1) { slideIndex = slides.length }
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
        }

      </script>
  </div>




    <div class="read">
      <h4>Write a review</h4>
    </div>

    <div class="container">
      <form action="{% url 'reviews' %}" method="post">
        {% csrf_token %}
        <label id="name_input1" for="name_input">Name</label>
        <input type="text" class="user-input" id="name_input" name="name" style="font-family: 'Montserrat'" placeholder="Your name...">


        <div class="stars_input">
          <div select id="stars_input" class="stars">
            <input type="radio" name="stars" value="1" />
            <input type="radio" name="stars" value="2" />
            <input type="radio" name="stars" value="3" />
            <input type="radio" name="stars" value="4" />
            <input type="radio" name="stars" value="5" />
            <i></i>
          </div>
          <p>(Click to change)</p>
        </div>

        <textarea class="user-input" id="subject_input" name="subject" placeholder="Your opinions..."
        maxlength="300" style="font-family: 'Montserrat'"></textarea>
        <input type="submit" value="submit" id="submit">
      </form>
      
    </div>
</div>
<script src="{% static 'admin/js/review.js' %}" type="text/javascript"></script></div> 

</body>

</html>