{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reviews</title>
    <link rel="stylesheet" href="{% static 'admin/css/reviews.css' %}">

</head>

<body>

    <script src="% static 'admin/js/reviews.js' %}.js"></script>
    
        <div class="app">

            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                </div>
            </div>
    
            <aside class="sidebar">
    
                <div class="holder">
                    <label for="" class="toggle-btn">
                        <span></span>
                </div>
    
                <h3></h3>
                <nav class="menu">
                    <a href="{% url 'main' %}" class="menu-item ">Track</a>
                    <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
                    <a href="{% url 'about' %}" class="menu-item">Our Team</a>
                    <a href="{% url 'reviews' %}" class="menu-item is-active">Reviews</a>
    
                </nav>
            </aside>
        </div>
        <main class="content"></main>
    <div class="hero-bg">
        <header>
            <a href="/">FindMyPackage</a>
        </header>
<div class="read">
             <p>Read a review</p>
</div>


    <div class="review-container">
        <div class="review-header">
        </div>
    <div class="review-content">
        <button class="arrow" id="arrow--left">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="216" y1="128" x2="40" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="112 56 40 128 112 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
        </button>

        <div class="reviews">
            <div class="review">
                <p class="review_name"><strong>First Last</strong></p>
                <div class="review_stars_column">
                    <div class="review_stars">
                        <img src="{% static 'admin/img/star.png' %}">
                    </div>
                    <div class="review_stars">
                        <img src="{% static 'admin/img/star.png' %}">
                    </div>
                    <div class="review_stars">
                        <img src="{% static 'admin/img/star.png' %}">
                    </div>
                    <div class="review_stars">
                        <img src="{% static 'admin/img/star.png' %}">
                    </div>
                    <div class="review_stars">
                        <img src="{% static 'admin/img/star.png' %}">
                    </div>
                </div>
                <p class="review_body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus iure assumenda ipsam harum. Impedit, vero perferendis? Deleniti optio repellendus, repellat alias veniam voluptas consectetur, quod, nostrum aperiam placeat consequatur rem eos dolor ullam!</p>
            </div>
            </div>
       </div>

        <button class="arrow" id="arrow--right">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
        </button>
    </div>


<div class="read">
<h4>Write a review</h4>
</div>

<div class="container">

      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="country">Rating</label>
      <select id="country" name="country">
        <option value="5-stars">5 stars</option>
        <option value="4-stars">4 stars</option>
        <option value="3-stars">3 stars</option>
        <option value="2-stars">2 stars</option>
        <option value="1-star">1 star</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Share your opinions.." style="height:200px"></textarea>
  
      <input type="submit" value="submit">
  

  </div>





</div>
</body>
</html>