{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track - FMP</title>
    <link rel="stylesheet" href="{% static 'admin/css/track.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'admin/img/packageiocn2.png' %}">

    <style>
        #map {
            height: 600px;
            width: 80%px;
        }
    </style>
</head>

<body>
    <aside class="sidebar">
        <div class="holder">
            <label for="" class="toggle-btn">
                <span></span>
        </div>
        <nav class="menu">
            <a href="{% url 'main' %}" class="menu-item ">Track</a>
            <a href="{% url 'faq' %}" class="menu-item">FAQs</a>
            <a href="{% url 'about' %}" class="menu-item">Our Team</a>
            <a href="{% url 'reviews' %}" class="menu-item">Reviews</a>
        </nav>
    </aside>
    <div class="hero-bg"> </div>

    <section class="Information">
        <header>
            <a href="/">FindMyPackage</a>
        </header>
        
        <div class="map-container">

            <div id="map"></div>

            <script>
                function initMap() {
                    // Map options
                    var options = {
                        zoom: 7,
                        center: { lat: 42.3601, lng: -71.0589 },
                    }
                    // New map
                    var map = new google.maps.Map(document.getElementById('map'), options);
                    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
                    var geocoder;
                    geocoder = new google.maps.Geocoder();
                    var address = document.getElementById('address').value;
                    geocoder.geocode({ 'address': address }, function (results, status) {
                        if (status == 'OK') {
                            map.setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location,
                                icon: "{% static 'admin/img/packageIcon.png' %}"
                            });
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }


            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ FMP_MAPS_KEY }}&callback=initMap">
            </script>

            <body onload="initMap()">
                <input id="address"
                    value="{{currentStatus.location.city}},{{currentStatus.location.state}},{{currentStatus.location.country}}"
                    type="hidden">
            </body>
        </div>

        <div class="Date-container">
            <u>ETA:</u> {{ estimatedTimeArrival }}
        </div>

        <div class="location-container">
            <i>Location:</i> {{ currentStatus.location.city }} {{ currentStatus.location.state }},
            {{currentStatus.location.country }}
        </div>

        <div class="ToBeDetermined-container">
            <i>Status:</i> {{ currentStatus.status }}
        </div>
        </div>
    </section>
    </div>
    <section>
        <div class="accordion-body">
            <div class="accordion">
                <h1>Additional Information</h1>
                <hr>
                <div class="container">
                    <div class="label">Click to toggle</div>
                    <div class="content">
                        <u>Events:</u>
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Summary</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                            {% for event in events %}
                            <tr>
                                <td>{{ event.date }}</td>
                                <td>{{ event.description }}</td>
                                <td>
                                    {{ event.location.city }} {{ event.location.state }}, {{ event.location.postalCode
                                    }}, {{ event.location.country }}
                                    <br>
                                    Street Lines: {% for line in event.location.streetLines %}{{ line }} {% endfor %}
                                </td>
                                <td>{{ event.status }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <script src="{% static 'admin/js/track.js' %}" type="text/javascript"></script>
    </section>
</body>

</html>