@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
 
/*custom properties*/
 
:root {
    --leading: 2em;
}
 
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display:grid;
    color: white;
}




.sidebar {
    max-height: 400px;
    padding: 1rem 0.5rem;
    background-color: #4A7FCB;
    margin-bottom: 4em;
    text-align: center;
}
 
.sidebar .menu {
  margin: 0 -1em -0.4em -1em;
  font-size: 0.7em;
}
 
.sidebar .menu .menu-item {
    display:inline;
    padding: 1em;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s linear;
}
 
.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    margin-top: 1em;
    color: #ADAEF1;
    border-bottom: 7px solid #ADAEF1;
}

.hero-bg {
  background: linear-gradient(lightblue, white);
  background-position: 0% 75%;
  color: white;
  text-align: center;
  padding-bottom: 0.5em;
  margin-top: -3.6em;
}

 
header a {
  font-size: 1.3rem;
  text-align: center;
  margin: 2em 0 0 0;
  color: white;
  text-decoration: none;
}



/* Aligns the heading text to the center. */
 
h1 {
  text-align: center;
}


  /* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */
  
  .accordion {
    width: 50%;
    margin: 20px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;       
  }

  .accordion .container {
    position: relative;
    margin: 10px 10px;

  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 15px;
    color: black;
  }


  .accordion .label::before {
    margin-top: -15px;
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 25px;
    transform: translateY(-50%);
  }
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .content {
    position: relative;
    background: transparent;
    height: 0;
    font-size: 18px;
    text-align: justify;
    width: 400px;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
  }
  
  /* Adds a horizontal line between the contents */
  
  .accordion hr {
    margin: 10px;
    margin-left: 0;
    border: 1px solid grey;
  }

/* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
    height: auto ;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .label::before {
    margin-top: -16px;
    content: '-';
    font-size: 30px;
  }

  .container label {
    padding: 5%;
    margin: 5%;
  }

.container .content {
  width: auto;
  transition: 0.5s;
  font-size: 0.8em;
  text-align: left;
}


button[name="toggle-dark-mode"] {
  font-family: 'Montserrat';
  float:right;
  margin: -20px 10px 0 90%;
  height: 30px;
  width: auto;
  font-size: 0.7em;
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
}

button[name="toggle-dark-mode"] svg {
  float:left;
  padding: 0;
  height: 27px;
  width: 27px;
}

button[name="toggle-dark-mode"] p {
  float:left;
  text-align: right;
  padding: 0;
  margin: 0 -75px 0 0;
  visibility: hidden;
}

button[name="toggle-dark-mode"]:hover {
  cursor: pointer;
  color: #ADAEF1;
}

.dark-mode button[name="toggle-dark-mode"]:hover {
  cursor: pointer;
  color: #717496;
}

.dark-mode {
  color: gray;
  background-color: #36393f;
  color: white;
}

.dark-mode svg {
  color: rgba(204,205,206,255);
}

.dark-mode .hero-bg {
  background: linear-gradient(#333858, #36393f);
}

.dark-mode .sidebar {
  background-color: #3f4575;
}


.dark-mode  .sidebar .menu .menu-item {
  color: rgba(204,205,206,255);
}

.dark-mode .sidebar .menu .menu-item:hover,
.dark-mode .sidebar .menu .menu-item.is-active {
  color: #717496;
  border-bottom: 7px solid #717496;
}

.dark-mode #header{
  color: rgba(204,205,206,255);
}

.dark-mode .accordion {
  background-color: #3f4575;
  color: rgba(204,205,206,255);
}

.dark-mode .accordion .label {
  color: rgba(204,205,206,255);
  transition: none;
}

.dark-mode .accordion .content {
  color: rgba(204,205,206,255);
}

.dark-mode .accordion .container.active .label::before {
  color: rgba(204,205,206,255);
}

.dark-mode .accordion .label::before {
  color: rgba(204,205,206,255);
}

  @media (min-width: 730px) {

.accordion {
  box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
  border-radius: 25px;
  width: 50%;
  margin: 70px auto;
}

.dark-mode .accordion {
  box-shadow: 0 2px 10px 2px #717496;
  border-radius: 25px;
}

    button[name="toggle-dark-mode"] svg {
      float:left;
      padding: 0;
      height: 27px;
      width: 27px;
  }

  button[name="toggle-dark-mode"] p {
      float:left;
      text-align: right;
      padding: 0;
      margin: 3px 0 0 0;
      visibility: visible;
  }

  
.dark-mode button[name="toggle-dark-mode"] {
  background-color: #3f4575;
  border: none;
  color:lightgray;
}

.dark-mode button[name="toggle-dark-mode"]:hover {
cursor: pointer;
color: #717496;
}

  button[name="toggle-dark-mode"] {
      float:left;
      margin: -20px 10px 0 80%;
      height: 30px;
      width: auto;
      font-size: 0.9em;
  }
  
    .sidebar .menu {
      margin: 0 -1em 0 -1em;
      font-size: 1em;
    }
  }


@media (min-width: 930px) {
 
    .sidebar {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    .accordion {
      width: 900px;
  }
  
  .accordion .content {
      width: 900px;
  }
}