@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*custom properties*/

:root {
    --leading: 2em;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: -19px 0 0 0;
    display: grid;
}





.app {
    grid-area: bar;

}

main {
    margin: 1em 0 0 0;
    grid-area: about;
}

.holder:checked {
    position: 300px 300px;
}


.sidebar {
    transition: 0.5s;
    max-height: 400px;
    padding: 1rem 1rem;
    background-color: #4A7FCB;
    text-align: center;
}

.sidebar .menu {
    margin: 0 -1rem;
    transition: 0.5s;
}

.sidebar .menu .menu-item {
    display: inline;
    padding: 1em;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    margin-top: 3em;
    color: #ADAEF1;
    border-bottom: 7px solid #ADAEF1;
}

header a {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1000px;
    margin: 20em 0 0 0;
    color: white;
    text-decoration: none;
}



.content {
    flex: 1 1 0;
    margin: 4.8em 0 0 0;

}

.content h1 {
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.hero-bg {
    background: linear-gradient(lightblue, white);
    margin-left: auto;
    margin-right: auto;
    background-position: 0% 75%;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}


.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    margin: 0, 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 1 0 1.2em;
}

h1 span {
    display: block;
    font-size: 1rem;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.track-container {
    background-color: white;
    margin: 5em 0 5em 0;
    padding: 2rem;
}

label {
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1.5px solid gray;
    border-radius: .5em;
    margin-bottom: 1.2em;
}

input[type=button] {
    background-color: #00C185;
    border: none;
    width: 50%;
    font-weight: bold;
    padding: 1em 0;
    border-radius: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
    color: white;
}

input[type=button]:hover {
    background-color: #0b996c;
}

.track-container .form-left-input {
    border-color: #4A7FCB;
    color: black;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.track-container .submit {
    border-radius: 5px;
    background-color: #00C185;
    color: white;
    border-color: #00C185;
    width: 18%;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
}

.track-container .submit:hover {
    background-color: #0b996c;
    border-color: #0b996c;
}

.About {
    margin: 0;
}

.right-col {
    text-align: left;
    margin: 3em 1em;

}

h2 {
    text-transform: uppercase;
    position: relative;
}

img {
    width: 100%;
}

p {
    line-height: var(--leading);

}

<<<<<<< Updated upstream
=======
button[name="toggle-dark-mode"] {
    font-family: 'Montserrat';
    float:right;
    margin: -20px 10px 0 90%;
    height: 30px;
    width: auto;
    font-size: 0.7em;
    padding: 0;
    background-color: transparent;
    border: none;
    color: white;
  }

button[name="toggle-dark-mode"] svg {
    float:left;
    padding: 0;
    height: 27px;
    width: 27px;
}

button[name="toggle-dark-mode"] p {
    float:left;
    text-align: right;
    padding: 0;
    margin: 0 -75px 0 0;
    visibility: hidden;
}

button[name="toggle-dark-mode"]:hover {
    cursor: pointer;
    color: #ADAEF1;
  }

.dark-mode {
    background-color: #36393f;
    color: white;
  }

.dark-mode .hero-bg {
    background: linear-gradient(#333858, #36393f);
}

.dark-mode .track-container {
    background-color: #3f4575;
}

.dark-mode .sidebar {
    background-color: #3f4575;
  }
  
  
  .dark-mode  .sidebar .menu .menu-item {
    color: rgba(204,205,206,255);
  }
  
  .dark-mode .sidebar .menu .menu-item:hover,
  .dark-mode .sidebar .menu .menu-item.is-active {
    color: #717496;
    border-bottom: 7px solid #717496;
  }

   .dark-mode .track-container .submit {
    background-color: #038057;
    color: lightgray;
    border-color: #038057;
}

.dark-mode .track-container .submit:hover {
    background-color: #056344;
    border-color: #056344;
}

.dark-mode .package-id-words {
    color: rgba(204,205,206,255);
}

.dark-mode .track-container .form-left-input {
    border-color: #717496;
    background-color: rgba(204,205,206,255);
}

.dark-mode .findmypackage-name {
    color: rgba(204,205,206,255);
}

.dark-mode .best-way-to-track {
    color: rgba(204,205,206,255);
}

.dark-mode button[name="toggle-dark-mode"] {
    background-color: #3f4575;
    border: none;
    color:lightgray;
}

.dark-mode button[name="toggle-dark-mode"]:hover {
  cursor: pointer;
  color: #717496;
}

.dark-mode #light-img {
visibility: hidden;
}

.dark-mode #dark-img {
    visibility: visible;
    }

.dark-mode .right-col {
    color: rgba(204,205,206,255);
}
    
>>>>>>> Stashed changes
@media (min-width: 730px) {

<<<<<<< Updated upstream
=======
    button[name="toggle-dark-mode"] p {
        float:left;
        text-align: right;
        padding: 0;
        margin: -4px 1px 0 0;
        visibility: visible;
    }

    button[name="toggle-dark-mode"] {
        float:left;
        margin: -20px 13px 0 80%;
        height: 30px;
        width: auto;
        font-size: 0.9em;
    }
    .sidebar .menu {
        margin: 0 -1em 0 -1em;
        font-size: 1em;
      }

    .sidebar .menu .menu-item {
        padding: 1em;
    }
>>>>>>> Stashed changes

    section {
        margin: 0 4em;
    }

    .track-container {
        margin: 5em 7em;
        border-radius: .5em
    }

    img {
        grid-area: pic;
        margin: 0 0 4em 0;
    }

}

@media (min-width: 930px) {

    .sidebar {
        text-align: center;
        padding-left: 1em;
        padding-right: 2em;
    }



    .hero-bg {
        text-align: center;
    }

    .hero-bg p {
        margin: 0 0 3em;
    }

    .hero.bg section {
        width: 65%
    }

    .track-container {
        margin: 5em 7em;
        padding: 2em;
        border-radius: .5em
    }

    section.About {
        display: grid;
        margin: 0 0 0 0;
        padding: 0 0;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "pic text"
    }

    .right-col {
        grid-area: text;
        padding: 0 10%;
        text-align: left;
        align-self: center;

    }

    img {
        grid-area: pic;
        margin: 0 0 4em 0;
    }

    h2 {
        margin: 0;
    }

}