@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*custom properties*/

:root {
  --leading: 2em;
  --text1: hsl(150 100% 8%);
  --text2: lightgray;
  --bkg1: hsl(190 70% 94.5%);
  --bkg2: hsl(190 70% 99.5%);
  --accent1: #4A7FCB;
  --accent2: #4A7FCB;
  --gradient: linear-gradient(to right, var(--accent1), var(--accent2));
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: grid;
}

.sidebar {
  transition: 0.5s;
  max-height: 400px;
  padding: 1rem 1rem;
  background-color: #4A7FCB;
  text-align: center;
}

.sidebar .menu {
  margin: 0 -1rem;
  transition: 0.5s;
}

.sidebar .menu .menu-item {
  display: inline;
  padding: 1em;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  margin-top: 3em;
  color: #ADAEF1;
  border-bottom: 7px solid #ADAEF1;
}

header a {
  font-size: 1.3rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.content {
  flex: 1 1 0;
  margin: 0.4em 0 0 0;
}

.workbench.action.debug.selectandstart hr {
  margin-top: 0;
}

.hero-bg {
  background: linear-gradient(lightblue, white);
  background-position: 0% 75%;
  margin-top: 0.4em;
  color: white;
  text-align: center;
  padding-bottom: 4em;
}

img {
  width: 100%;
}

.hero-bg .slider {
  color: black;
}


.review-container {
  height: auto;
  margin: 0;
  background-color: var(--bkg2);
  box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
  border-radius: 0;
  position: relative;
  text-align: center;
  color: black;
  padding-bottom: 5px;
}


.review-content {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.arrow {
  border-width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: .4rem;
  color: var(--text2);
  z-index: 1;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.arrow:is(:hover, :focus) {
  color: var(--text1);
}

.arrow svg {
  pointer-events: none;
}

#arrow--right {
  right: 4%;
}

#arrow--right:is(:hover, :focus) {
  transform: translate(10%, -50%);
}

#arrow--right::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--gradient);
  z-index: -1;
  transform: translate(20%, -2%) scale(.6);
  inline-size: min(50px, 100%);
  block-size: min(50px, 100%);
  transition: all 250ms ease-in-out;
}

#arrow--right:hover::before,
#arrow--right:focus::before {
  transform: translate(4%, -2%) scale(.8);
}

#arrow--left {
  left: 4%;
}

#arrow--left:is(:hover, :focus) {
  transform: translate(-10%, -50%);
}

#arrow--left::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--gradient);
  z-index: -1;
  transform: translate(-20%, -2%) scale(.6);
  inline-size: min(50px, 100%);
  block-size: min(50px, 100%);
  transition: all 250ms ease-in-out;
}

#arrow--left:hover::before,
#arrow--left:focus::before {
  transform: translate(-4%, -2%) scale(.8);
}

.reviews {
  display: flex;
}

.review {
  flex: 1 auto;
  display: grid;
  max-width: 100%;
  height: auto;
  place-items: center;
  text-align: center;
  padding: 0;
}

.review_name {
  letter-spacing: .05rem;
  font-size: 1.2em;
  text-align: center;
}


.review_stars::after {
  content: "";
  clear: both;
  display: table;
}

.review_stars1 {
  --s:33px;
  width:calc(var(--n,5)*var(--s));
  height:calc(var(--s)*0.9);
  --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask:
    conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
    conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
    conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
    conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  background:
    linear-gradient(gold 0 0) 0/calc(var(--l,0)*var(--s)) 100% no-repeat
    #ccc;
}

.review_body {
  max-width: 65%;
  font-size: 0.9em;
  text-align: center;
  height: auto;
}

.read {
  margin-top: 55px;
  font-size: 1.2em;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

.container input,
select,
textarea {
  border-color: #4A7FCB;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #00C185;
  color: white;
  border-color: #00C185;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  width: 18%;
  font-size: 1.1em;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #0b996c;
  border-color: #0b996c;
}



/* Add a background color and some padding around the form */
.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  background-color: #fff;
}


.prev {
  left: 0;
}

.stars {
  --s:50px;
  position:relative;
  display:inline-flex;
}
.stars input {
  width:var(--s);
  height:var(--s);
  margin:0;
  opacity:0;
  cursor:pointer;
}
.stars i {
  position:absolute;
  inset:0 0 calc(var(--s)*0.1);
  pointer-events:none;
  --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask:
    conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
    conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
    conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
    conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  background:
    linear-gradient(rgba(255,0,0,var(--o,0.3)) 0 0),  
    linear-gradient(gold                       0 0)
    #ccc;
  background-size:calc(var(--l,0)*var(--s)) 100%,calc(var(--p,0)*var(--s)) 100%;
  background-repeat:no-repeat;
}

.stars:focus-within {
  outline:1px solid;
}

input:active ~ i{--o:1}

input:nth-of-type(1):checked ~ i {--p:1}
input:nth-of-type(2):checked ~ i {--p:2}
input:nth-of-type(3):checked ~ i {--p:3}
input:nth-of-type(4):checked ~ i {--p:4}
input:nth-of-type(5):checked ~ i {--p:5}
input:nth-of-type(6):checked ~ i {--p:6}
input:nth-of-type(7):checked ~ i {--p:7}
input:nth-of-type(8):checked ~ i {--p:8}
input:nth-of-type(9):checked ~ i {--p:9}
input:nth-of-type(10):checked ~ i {--p:10}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

input:nth-of-type(1):hover ~ i {--l:1}
input:nth-of-type(2):hover ~ i {--l:2}
input:nth-of-type(3):hover ~ i {--l:3}
input:nth-of-type(4):hover ~ i {--l:4}
input:nth-of-type(5):hover ~ i {--l:5}
input:nth-of-type(6):hover ~ i {--l:6}
input:nth-of-type(7):hover ~ i {--l:7}
input:nth-of-type(8):hover ~ i {--l:8}
input:nth-of-type(9):hover ~ i {--l:9}
input:nth-of-type(10):hover ~ i {--l:10}
/*input:nth-of-type(N):hover ~ i {--l:N}*/

.counter {
  color: black;
}

* {box-sizing:border-box}
    
        /* Slideshow container */
        .slideshow-container {
          max-width: 1000px;
          height: auto;
          position: relative;
          margin: auto;
        }
        
        /* Hide the images by default */
        .mySlides {
          display: none;
          height: auto;
        }
        
        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        
        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        
        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
          background-color: #717171;
        }
        
        /* Fading animation */
        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }
        
        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }
@media (min-width: 730px) {

  .container {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgb(167, 210, 236);
  }

  .review-container {
    background-color: white;
    box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
  }

  .prev {
    left: 0;
  }

  .next {
    left: 95%;
  }

}


@media (min-width: 930px) {

  .sidebar {
    text-align: center;
    padding-left: 1em;
    padding-right: 2em;
  }



  .hero-bg {
    text-align: center;
  }

  section.Reviews {
    display: grid;
    margin: 0 0 0 0;
    padding: 0 0;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
      "image text"
  }

  .right-col {
    grid-area: text;
    padding: 0 10%;
    text-align: left;
    align-self: center;

  }

}