@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*custom properties*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
}


.app {
    grid-area: bar;

}

.sidebar {
    transition: 0.5s;
    max-height: 400px;
    padding: 1rem 0.5rem;
    background-color: #4A7FCB;
    text-align: center;
}

.sidebar .menu {
    margin: 0 -1rem;
    transition: 0.5s;
}

.sidebar .menu .menu-item {
    display: inline;
    padding: 1em;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    margin-top: 3em;
    color: #ADAEF1;
    border-bottom: 7px solid #ADAEF1;
}

.hero-bg {
    margin-top: 7px;
    background: url('../img/bg.blue.jpg');
    background-position: 0% 75%;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

header a {
    font-size: 1.3rem;
    text-align: center;
    margin: 20em 0 0 0;
    color: white;
    text-decoration: none;
}

.map-container {

    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    margin: 1em;
    float: left;
    border-radius: 25px;
}

.Date-container {
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1rem 7rem 1rem 7rem;
    text-align: center;
    margin: 1em;
    float: left;
    border-radius: 25px;
}

.location-container {
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1rem 7rem 1rem 7rem;
    text-align: center;
    margin: 1em;
    float: left;
    border-radius: 25px;
}

.ToBeDetermined-container {
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 10px 2px rgb(176, 218, 244);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1rem 7rem 1rem 7rem;
    text-align: center;
    margin: 1em;
    float: left;
    border-radius: 25px;
}



h1 {
    text-align: center;
}

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
    width: 400px;
    margin: 10px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 15px;
    color: black;
}


.accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 15px;
    transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 15px;
    text-align: justify;
    width: 400px;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
}

/* Adds a horizontal line between the contents */

.accordion hr {
    margin: 10px;
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}

/* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
    height: auto;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
    content: '-';
    font-size: 40px;
}


@media (min-width: 730px) {
    .map-container {
        padding: 0;
        border-radius: 25px;
        width: 50%;
    }

    .Date-container {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    .location-container {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    .ToBeDetermined-container {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}


@media (min-width: 930px) {
    .sidebar {
        text-align: center;
        padding-left: 1em;
        padding-right: 2em;
    }

    .accordion {
        width: 900px;
    }

    .accordion .content {
        width: 900px;
    }

}